body {
    margin: 0;
    font-family: Arial;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: black;
    color: white;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

/* HERO */
.hero {
    height: 80vh;
    background: url('ph.jpg.png') center/cover;
    color: rgb(0, 0, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* PRODUCTS */
.products {
    padding: 40px;
    text-align: center;
}

.product-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
}

.product img {
    width: 100%;
}